.status_wrap{
    width: 70vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap:1rem;
    margin-block: 1rem;
}

.all_entries, .favourites, .date{
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: 0.6rem;
}

.all_entries{
   color: var(--color-granite)
}
.favourites{
    color: var(--color-nemo)
}
.date{
    color: black;
}