.count_fav, .count_all{
    width: 8rem;
    height: 4.4rem;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}
.count_fav{
    background-color: var(--color-nemo);
}
.count_all{
    background-color: var(--color-granite);
}