.submitBtn{
    width: 12rem;
    height: 4rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    color:white;
    text-shadow:1px 1px 1px darkmagenta;
    border-radius: 6px;
    border:initial;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    background-color: var(--color-nemo);
}
button:hover{
    transform: scale(1.1);
    background-color: var(--color-nemo-mid);
}
button:active{
    background-color: var(--color-nemo-dark);
}