.input_text{
    display: flex;
    width: 100%;
}

#motto, #notes{
    resize: none;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 0.12rem;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
}
#motto{
    height: 15%;
}
#notes{
    height: 60%;
}