h1, .new_Entry{
    font-size: 4rem;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-water-10);
}

.new_Entry{
    display: flex;
    justify-content: center;
    align-items: center;
}