*{margin: 0; padding: 0; box-sizing: border-box;}
 
:root{
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
}
 
body{
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
min-height: 100vh;
margin: 0px auto;
background: gainsboro;
}

#root {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 1rem;
flex-wrap: wrap;
min-width: 78%;
min-height: 100vh;
margin: 0 auto;
padding: 2rem;
text-align: center;
background-color: whitesmoke;
}